@import "tailwindcss";

/* On définit les couleurs de base de WAKA */
:root {
  --background: #f9fafb;
  /* Un gris très léger pour le fond */
  --foreground: #111827;
  /* Un noir bleuté pour le texte */
}

/* On désactive le mode sombre forcé pour le MVP 
   pour que l'orange reste éclatant partout */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Optionnel : Une petite animation pour les boutons */
button {
  transition: all 0.2s ease-in-out;
}